{% extends "layout.njk" %}

{% block content %}
<main class="container">

    {% for movie in movies %}
    <ul class="movie-list"> 
        <li class="card">
            <h1><a href="/movies/{{ movie.id }}">{{ movie.title }}</a></h1>          
            <p>{{ movie.director }}</p>
            <p>{{ movie.year }}</p>
        </li>
    </ul>
        



    {% endfor %}
</main>
{% endblock %}