body{
    background-color: aqua;
}

.container{
    max-width: 60rem;
}

ul{
    display: flex;
    align-items: center;
    background-color: white;    
}

li{
    margin-left: 50px;
    color: white;
}