body{
    background-color: aqua;
}

.navbar{
    background-color:white ;
    border: solid black;

    li{
        padding-left: 10px;
    }

}

.container {
    max-width: 65rem;
    margin-inline: auto;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    background-color: white;
    border: solid rgb(0, 0, 0);
    padding: 1rem;
    margin: 0;
    list-style: none;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 12rem;

    h1 {
        line-height: 1;
    }
}





